.logo {
    height: 75px;
    width: 75px;
    background-color: darkgray;
    border-radius: 100%;
    background-size: auto;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/ed/98/4d/ed984da4fdf5dc58f871d2991717c98b.jpg) ;
    background-position: center;
}



.gambar {
   
    background-color: lightslategrey;
    
}

.text{
    text-align: center;
    padding:8px;
}

.Walcome{
    text-align: center;
   
    object-fit: fill;
}

.home {
  background: url("https://i.pinimg.com/736x/9d/aa/c6/9daac61a73d0fbd17a1157e9d07bfb6d.jpg") no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 120px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.profil{
    min-height: 500px;
    text-align: center;
    background-color: rgb(240, 249, 249);
}

.foto {
    background-color: #bd9a9a;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(199, 29, 29, 0.15);
    width: 300px;
    padding-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    align-content: center;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}